@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo:wght@100&family=Monda&display=swap');

/* 
    primary-color: #083D5E   ;
  --secondary-color: white ;
  --accent1-color: #4D6C80;
  --accent2-color: #47B3FF;

   change the values below to your chosen font(s) 
 --heading-font: Archivo;
  --paragraph-font: Monda, Helvetica, sans-serif; */ 

body {
    background-color: white; 
    font-family:Monda, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #4D6C80
}

#bull {
    width: 400px;
    grid-column: 3/3;
    border: 4px solid #47B3FF;

}

footer {
    background-color:#083D5E;
    color:white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color:#47B3FF;
    text-decoration: none;

}

footer a:hover {
    color:white;

}

footer h3 a:hover {
    text-decoration: underline;
}


#hammerhead{
    width: 600px;
    grid-column: 1/3;
    border: 4px solid #47B3FF;

}

header {
    background-color:#083D5E;
    display: grid;
    grid-template-columns: 150px auto;
    font-size: 27px;
}

.home-img {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;

}

.logo {
    width: 100px;
    align-content: center;
}



nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Archivo, Helvetica, sans-serif;
    padding: 35px;
}

nav a:hover {
    background-color: #4D6C80;
    color: #47B3FF;
}

.thejuice {
    text-align: center;
    grid-column: 2/3;
    margin: 50px;
    font-size: 22px;
}